
<div class = "home-container">
<div class ="home-center">

  <div class = "user-banner">
    <%if @user.coverimage.attached?%>
    <%= image_tag(@user.coverimage, class: 'banner-pic')%>
    <%else%>
    <img class = "banner-pic" src="https://source.unsplash.com/CiUR8zISX60" alt="Ppic"> 

    <%end%>
    
    <%if current_user == @user%>
    <div class = "edit-btn">
    <%= link_to edit_user_registration_path do%>
      <i class="bi bi-pencil-fill edit-pen"></i>
      <%end%>

    </div>
    <%end%>
  </div>
  

 
  <div class = "home-center-header">
OPINIONS
</div>

  <div class = "post-list">
  <%= @user.opinions.count%> REVIEWS
  <hr>

  <%@user.opinions.each do |opinion| %>
  <div class="post-details d-flex m-2 ">
  
    <div class="post-image">
      <%= opinion_check_pic(opinion)%>
    </div>


    <div class ="post-txt">
      <p><strong><%= @user.fullname %></strong></p>
      <p class="small"><%= opinion.text%></p>
    </div>
    
  </div>
  <hr>
  <%end%>

</div>
</div>


<%= render "user_sidebar"%>


</div>

