<header> 
<div class = "m-3">
  <img class = "logo" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcm
  F0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg
  0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6
  Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3J
  vdW5kOm5ldyAwIDAgNTEyIDUxMjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGNpcmNsZSBzdHlsZT0iZmlsbDojRDJGMEZGOyIgY3g9IjI1NiIgY3k9
  IjI1NiIgcj0iMjU2Ii8+DQo8Zz4NCgk8cGF0aCBzdHlsZT0iZmlsbDojNzNDOEYwOyIgZD0iTTUxMiwyNTZjMC02LjkxOS0wLjI4NC0xMy43Ny0wLjgyMi0
  yMC41NTFMMzgzLjcyOCwxMDhsLTcxLjUyNSwxMi45NThsMjkuMjgzLDI5LjI4M2wxNS42NiwxNS42Ng0KCQlsMTQ4LjIyMiwxNDguMjIyQzUwOS43MDUsMjk1
  LjQ0OSw1MTIsMjc1Ljk5Myw1MTIsMjU2eiIvPg0KCTxwYXRoIHN0eWxlPSJmaWxsOiM3M0M4RjA7IiBkPSJNMzI4LjYwMywxNzEuMDczbC0zMy4yNTctMzMuMjU
  3TDI4My42NiwxMjYuMTNsLTQzLjM4LDcuODU5bDI5LjQ0NywyOS40NDdsMTUuNDk3LDE1LjQ5Nw0KCQlsNDguODI1LDQ4LjgyNWgtMzMuNzE2bC00My42NTQtNDMu
  NjU0bC0zNi41MTYtMzYuNTE2bC04LjQyOC04LjQyOEwxNjIuOTM3LDE0OGwyOC40MDcsMjguNDA3bDE2LjUzNywxNi41MzdsMzQuODEzLDM0LjgxMw0KCQloLTMzLjc
  xNWwtMjkuNjQyLTI5LjY0MmwtMi42NDEtMi42NDFsLTQyLjMwMy00Mi4zMDNsLTE1Ljg5MSwyLjg3OWw3LjM5Miw1MS43NDdsMTkuOTU5LDE5Ljk1OWgtMTkuOTZ2MTU3
  LjU3Ng0KCQljMCw0LjA1LDEuNjQyLDcuNzE3LDQuMjk2LDEwLjM3MWwwLDBsMTE2LjA5MywxMTYuMDkzYzMuMjI2LDAuMTIsNi40NjEsMC4yMDIsOS43MTcsMC4yMDINCgkJYzExNC4xNDQsMCwyMTAuODI0LTc0LjcxMSwyNDMuODQ4LTE3Ny44OTRMMzkzLjQ5OSwyMjcuNzU3aC04LjIxMkwzMjguNjAzLDE3MS4wNzN6Ii8+DQo8L2c+DQo8Zz4NCgk8cGF0aCBzdHlsZT0iZmlsbDojMjg5NkZGOyIgZD0iTTM3OC44MzIsNDAwSDE0MC41NmMtOC4xLDAtMTQuNjY3LTYuNTY2LTE0LjY2Ny0xNC42NjdWMjI3Ljc1N2gyNjcuNjA1djE1Ny41NzYNCgkJQzM5My40OTksMzkzLjQzNCwzODYuOTMyLDQwMCwzNzguODMyLDQwMHoiLz4NCgk8cG9seWdvbiBzdHlsZT0iZmlsbDojMjg5NkZGOyIgcG9pbnRzPSIzNTcuMTQ3LDE2NS45MDIgMzkxLjEyMSwxNTkuNzQ3IDM4My43MjgsMTA4IDMxMi4yMDQsMTIwLjk1OCAJIi8+DQoJPHBvbHlnb24gc3R5bGU9ImZpbGw6IzI4OTZGRjsiIHBvaW50cz0iMjgzLjY1OSwxMjYuMTI5IDI0MC4yNzksMTMzLjk4OCAyODUuMjIzLDE3OC45MzIgMzI4LjYwMywxNzEuMDczIAkiLz4NCgk8cG9seWdvbiBzdHlsZT0iZmlsbDojMjg5NkZGOyIgcG9pbnRzPSIxMzQuMzkzLDE1My4xNzEgMTE4LjUwMSwxNTYuMDUxIDEyNS44OTQsMjA3Ljc5NyAxNzkuMzM3LDE5OC4xMTUgCSIvPg0KCTxwb2x5Z29uIHN0eWxlPSJmaWxsOiMyODk2RkY7IiBwb2ludHM9IjIwNy44ODEsMTkyLjk0NCAyNTYuNjc4LDE4NC4xMDMgMjExLjczNSwxMzkuMTYgMTYyLjkzNywxNDggCSIvPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=" />
</div>

</header>


<nav>

  <div class = "nav-profile">
    <div class = "profile-pic">
     <%= check_nav_pic(current_user) %>
    </div>

    <div class = "profile-name">
      <%=current_user.fullname %>
    </div>
  </div>

  <div class = "nav-following d-flex">
    <div class="following link-txt">
    <div class="nav-num"> <%= current_user.followings.count%></div>
    
      following
    </div>

    <div class = "followers link-txt">
    <div class="nav-num"> <%= current_user.followers.count%></div>

      followers
    </div>
  </div>

  <div class = "nav-links">
    <div><%=link_to 'Home', user_session_path, class: "link-txt"%></div>
    <div><%=link_to 'Profile', user_path(current_user), class: "link-txt"%></div>
    <div><%=link_to 'Log out', destroy_user_session_path, method: :delete, class: "link-txt"%></div>
  </div>
</nav>